<div class="relative min-h-[45vh] bg-cover bg-center" style="background-image: url(<%= image_path('zhino-shangno-yin-funokurosuaffu.jpg') %>)">
      <div class="absolute inset-0 bg-black/40"><p class="text-black w-48 bg-white/50 text-2xl text-center">自分だけの音楽、世界に一つのMysic。</p></div>
    <button class="absolute top-4 right-4 btn btn-success">ログイン</button>      
</div>
<div class="text-center text-lg text-green-800 font-semibold">
  <h1 class="underline">クリエイティブを支える5つのステップ</h1><br>
  <h2>録音 : 歌声や演奏をその場で録音</h2>
  <h2>伴奏再生 : YouTubeの伴奏に合わせてパフォーマンス</h2>
  <h2>簡易編集 : 録音を聴き直して調整・保存</h2>
  <h2>仲間とつながる : 音楽仲間を見つけて交流</h2>
  <h2>投稿サポート : YouTubeへの投稿をカンタンに</h2><br>
<button class="absolute center-1 btn btn-success">
<%= link_to "新規登録", new_user_registration_path %>
</button>
</div>
