<div class="blur-sm min-h-[45vh] bg-[url('/assets/zhino-shangno-yin-funokurosuaffu.jpg')] bg-center">
    <h1>自分だけの音楽、世界に一つのMysic。</h1>
</div>
<h1 class="text-4xl text-green-700 font-semibold underline">クリエイティブを支える5つのステップ</h1>
